/*
* DashForge v1.0.0 (https://themepixels.me/dashforge)
* Copyright 2019 ThemePixels
* Licensed under ThemeForest License
*
*

/* ############### FONTS IMPORT ############### */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400");

.formFieldset {
  background-color: #fff;
  border: 1px solid rgba(72, 94, 144, 0.16);
  padding: 20px 25px 25px;
  border-radius: 0.25rem; }
  .formFieldset .form-group:last-child {
    margin-bottom: 0; }
  .formFieldset legend {
    width: auto;
    background-color: inherit;
    padding: 0 10px;
    position: relative;
    margin-left: -10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: inherit;
    color: #1c273c;
    letter-spacing: .5;
    margin-bottom: 0; }

.txDanger {
  color: #dc3545; }

.txBlack {
    color: #000; }

.txBold {
  font-weight: 700; }

.txWhite {
    color: #fff !important; }

.txGrey {
  color : #b1b1b1 }

.tx12 {
  font-size: 12px; }

.tx14 {
  font-size: 14px; }

.textCenter {
  text-align: center !important; }

.textRight {
  text-align: right; }

.textTitle {
  color: #6f6f6f;
  font-weight: 200; }

.statusBox {
  background: #0253b3;
}

.upperTitle {
  text-transform : uppercase;
}

.alignSelfCenter {
  align-self: center !important; }

.alignItemsCenter {
  align-items: center !important; }

.justifyContentCenter {
  justify-content: center !important; }

.pd15And20 {
    padding: 15px 20px;
}

.pd60And20 {
  padding: 60px 20px;
}

.marginTop15 {
  margin-top: 15px;
}

.marginTop25 {
  margin-top: 25px;
}

.marginBottom5 {
  margin-bottom: 5px;
}

.marginBottom15 {
  margin-bottom: 15px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.marginBottom25 {
  margin-bottom: 25px;
}

.marginBottom30 {
  margin-bottom: 30px;
}

.floatRight {
  float: right !important; }

.colMd2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.colMd2dot4Modif {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.displayBlock {
  display: block !important; }

.dSmFlex {
  display: flex !important; }

.stepsJustified {
    display: flex;
    align-items: center; }

.tableDocument thead th {
  border-bottom-width: 0;
  border: 0;
}
  
.tableDocument tr td {
  border: 0;
}

.noUpper {
  text-transform: none; }